<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js"></script>
    <title>Title</title>

</head>
<body>
<!--<form action="../upload" method="post" enctype="multipart/form-data">-->
<!--    <input type="file" name="file" accept="image/*">-->
<!--    <br>-->
<!--    <input type="submit" value="上传" class="btn btn-success">-->
<!--</form>-->

<p>
<form id="attachments2" enctype="multipart/form-data" class="form-horizontal" novalidate="novalidate">
    <div class='form-body'>
        <div class='form-group'>
            <label class="control-label col-md-1">附件管理：</label>
            <div class="col-md-4">
                <button id="attachmentUploadBtn2" type="button" class="btn btn-default">Upload</button>
            </div>
        </div>
        <div class='form-group'>
            <label class="control-label col-md-1">附件上传：</label>
            <div id="attachmentInputs2" class="col-md-3">
                <input name="attachment" type="file" class="form-control input-attachment" multiple="multiple"/>
            </div>
        </div>
    </div>
</form>
</p>
<br/>
<p id="id1"></p>
<br>
<!--<img th:src="@{${filename}}" alt="图片">-->
<script>

    //upload2
    $("#attachmentUploadBtn2").click(function (even) {
        //1、通过HTML表单创建FormData对象 自动注入
        // var formData = new FormData($("#attachments2")[0]);

        //2、从零开始创建FormData对象 手动注入
        var formData = new FormData();
        //注入 name=file
        var files = $("#attachmentInputs2 input[type='file']");
        for (var i = 0; i < files[0].files.length; i++) {
            formData.append("attachment", files[0].files[i]);
        }
        //注入name=text
        formData.append("applyId", "123456");

        // console.log(formData.getAll("attachment"));

        //执行上传
        $.ajax({
            url: "../upload",
            type: "post",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                // var imgimput = '[[${filename}]]';
                // //var str = imgimput
                // $("#id1").text(imgimput);
               // console.log("success"+data);
                 // alert(data);
                var result="";
                for (var value of data) {
                    result+=value+"\n";
                }
                document.getElementById("id1").innerText=result;
            },
            error: function (e) {
            }
        });
    });
</script>
</body>
</html>